# Ignora dependências
node_modules/

# Ignora pasta de build do Vite
dist/

# Ignora arquivos de configuração do editor
.vscode/

# Ignora variáveis sensíveis e senhas (quando usar futuramente)
.env

# Arquivos do sistema (especialmente em Mac)
.DS_Store

# Logs e temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache do Vite
.cache/