@tailwind base;
@tailwind components;
@tailwind utilities;

select,
select option {
  background-color: #000;
  color: white;
}

select:hover,
select:focus {
  background-color: #000;
}

html {
  @apply scrollbar-thin scrollbar-thumb-yellow-400 scrollbar-track-zinc-800;
}